.thundery {
    position: relative;
    width: 6rem;
    height: 6rem;
    /*  */
    top: 25px;
}
/* timeCard */
.small-padding {
    /* top: 0; */
    /* width: 4rem;
    height: 4rem; */
}
/*  */
.thundery-cloud {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}

/* Гроза */
.thundery-cloud:before {
    background-color: #4d5656;
    background-image: radial-gradient(#4d5656, #393c3c);
    -webkit-animation: thunder 4s linear 0.02s infinite alternate;
    animation: thunder 4s linear 0.02s infinite alternate;
}
.thundery-cloud:before {
    background-color: #95a5a6;
    background-image: radial-gradient(#95a5a6, #7f8c8d);
}
.thundery-cloud:before {
    content: "";
    position: absolute;
    height: 40%;
    width: 40%;
    top: 30%;
    right: 0%;
    border-radius: 50%;
    border-bottom-left-radius: 0;
    z-index: 2;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.thundery-cloud:after {
    background-color: #4d5656;
    background-image: radial-gradient(#4d5656, #393c3c);
    -webkit-animation: thunder 4s linear infinite alternate;
    animation: thunder 4s linear infinite alternate;
}
.thundery-cloud:after {
    background-color: #95a5a6;
    background-image: radial-gradient(#95a5a6, #7f8c8d);
}
.thundery-cloud:after {
    content: "";
    position: absolute;
    height: 60%;
    width: 70%;
    top: 10%;
    right: 30%;
    border-radius: 50%;
    border-bottom-right-radius: 0;
    z-index: 1;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}
@keyframes thunder {
    0% {
        box-shadow: 0 0 25px #fff;
    }
    2% {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    }
    49% {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    }
    50% {
        box-shadow: 0 0 25px #fff;
    }
    52% {
        box-shadow: 0 0 25px #f7db6e;
    }
    53% {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    }
    69% {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    }
    70% {
        box-shadow: 0 0 25px #fff;
    }
    71% {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    }
    75% {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    }
    76% {
        box-shadow: 0 0 25px #fff;
    }
    77% {
        box-shadow: 0 0 25px #a8d3f0;
    }
    78% {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    }
    100% {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    }
}
.thundery-cloud:after {
    background-color: #95a5a6;
    background-image: radial-gradient(#95a5a6, #7f8c8d);
}
.thundery-cloud:after {
    content: "";
    position: absolute;
    height: 60%;
    width: 70%;
    top: 10%;
    right: 30%;
    border-radius: 50%;
    border-bottom-right-radius: 0;
    z-index: 1;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}


/* Дощ */
.thundery-rain {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}
.thundery-rain:before {
    -webkit-animation: fadeIn 0.5s ease-out infinite reverse, scaleUp 0.5s ease-out infinite;
    animation: fadeIn 0.5s ease-out infinite reverse, scaleUp 0.5s ease-out infinite;
}
.thundery-rain:before {
    content: "";
    position: absolute;
    height: 80%;
    width: 20%;
    top: 20%;
    right: 50%;
    z-index: 1;
    background-image: linear-gradient(transparent, #94cdd1);
    will-change: opacity, transform;
    -webkit-animation: fadeIn 1s ease-out infinite reverse, scaleUp 1s ease-out infinite;
    animation: fadeIn 1s ease-out infinite reverse, scaleUp 1s ease-out infinite;
}

.thundery-rain:after {
    -webkit-animation: fadeIn 0.75s ease-out 0.2s infinite reverse, scaleUp 0.75s ease-out 0.2s infinite;
    animation: fadeIn 0.75s ease-out 0.2s infinite reverse, scaleUp 0.75s ease-out 0.2s infinite;
}
.thundery-rain:after {
    content: "";
    position: absolute;
    height: 60%;
    width: 20%;
    top: 40%;
    right: 20%;
    z-index: 1;
    opacity: 0;
    background-image: linear-gradient(transparent, #94cdd1);
    will-change: opacity, transform;
    -webkit-animation: fadeIn 2s ease-out 0.4s infinite reverse, scaleUp 2s ease-out 0.4s infinite;
    animation: fadeIn 2s ease-out 0.4s infinite reverse, scaleUp 2s ease-out 0.4s infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes scaleUp {
    0% {
        transform: scaley(0);
    }
    100% {
        transform: scaley(1);
    }
}