.common__row {
    width: 140px;
    padding: 15px;
    /* background-color: rgba(0, 0, 0, 0.2); */
    /* background-color: rgba(255, 255, 255, 0.2); */

    background: linear-gradient(180deg, rgba(107, 107, 107, 0.79) 0%, rgba(240, 245, 255, 0) 100%);
    border-radius: 5px;
    color: #fff;
    /* display: flex;
    flex-direction: column;
    align-items: center; */

    /* backdrop-filter: blur(10px); */
}
.common__row {
    /* width: 150px; */
    padding: 15px;
    /* background-color: rgba(0, 0, 0, 0.2); */
    /* background-color: rgba(255, 255, 255, 0.2); */
    background: linear-gradient(180deg, rgba(107, 107, 107, 0.79) 0%, rgba(240, 245, 255, 0) 100%);
    border-radius: 5px;
    color: #fff;
    display: grid;
    justify-items: center;
    grid-template-rows: 30px 80px 50px 20px;

    /* backdrop-filter: blur(10px); */
}

.time__title {
    margin: 0;
}
.real-fell__center {
    text-align: center;
    margin: 0;
    font-size: 17px;
}
.real-fell__center h3 {
    margin: 0;
    margin-top: 10px;
    font-size: 16px;
}

.temp_max p:nth-child(1), .temp_max p:nth-child(2) {
    margin: 0;
    font-size: 20px;
    font-family: 'Alleyn-Regular';
    /* transform: scaleY(1.2); */
}
.temp_max p:nth-child(2) {
    margin-top: 5px;
}

/* Modal */
.detail-card {
    width: 430px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(184, 183, 183, 0.79) 0%, rgba(240, 245, 255, 0.201) 100%);
    /* backdrop-filter: blur(3px); */
    color: #fff;
    font-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.detail-card p {
    /* font-family: 'Alleyn-Bold'; */
    
    margin: 20px auto;
}

.detail-flex-day {
    font-family: 'Alleyn-Bold';
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 0;
    font-size: 26px;
}
.detail-flex-day p {
    margin-bottom: 0;
}

.detail-flex {
    font-family: 'Alleyn-Bold';
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 10px;
    font-size: 28px;
}

.text {
    font-family: 'Alleyn-medium';
    font-size: 28px;
}

.icon {
    font-family: 'Alleyn-medium';
    font-size: 28px;
}
.fa-solid {
    font-style: 30px;
}


/* Modal bgc */
.bgc-storm {
    background-image: url("https://mf-static.meteofor.st/assets/bg-desktop/n_c3_r2.jpg");
    opacity: 0.9;
}
.bgc-rain {
    background-image: url("https://mf-static.meteofor.st/assets/bg-desktop/n_c3_r2.jpg");
    opacity: 0.9;
}

.bgc-clear {
    background-image: url("https://mf-static.meteofor.st/assets/bg-desktop/d.jpg");
    opacity: 0.9;
}
.bgc-partly-cloudy {
    background-image: url("https://mf-static.meteofor.st/assets/bg-desktop/d_c1.jpg");
    opacity: 0.9;
}
.bgc-cloud {
    background-image: url("https://mf-static.meteofor.st/assets/bg-desktop/d_c3.jpg");
    opacity: 0.9;
}


